<h1>Military Spending, visualized.</h1>
<h3>We're only looking at contracts over $6.5M in value, since July 1, 2014</h3>
<div id="d3me"></div>
<!-- <ul data-ng-if="ContractIndexViewModel.selectedElements[0]">
    <li data-ng-repeat="selectedElement in ContractIndexViewModel.selectedElements"><a data-ui-sref="contractShow({id: ContractIndexViewModel.getId(selectedElement.label)})">{{selectedElement.label}} - ${{selectedElement.value}}</a></li>
</ul> -->
<!-- <div class="container">
    <div class="bar" data-ng-repeat="contract in ContractIndexViewModel.contracts | orderBy:'-pubdate'" data-ng-style="{height: {{contract.dollar_amt}}px}" data-ui-sref="contractShow({id: contract.id})">
    </div> -->
<div>
<div data-ng-if="ContractIndexViewModel.contracts">
    <h3>${{ContractIndexViewModel.totalNum}} has been spent on large military contracts since July 1, 2014</h3>
    <h3>Data is missing from {{ContractIndexViewModel.totalmissing}} of {{ContractIndexViewModel.contracts.length}} reports ({{ContractIndexViewModel.percentTotalMissing}}%).</h3>
    <!-- <canvas data-ng-click="ContractIndexViewModel.showDiv($event)" id="myChart" max-width="1000" max-height="1000"></canvas> -->
</div>
<div data-ng-if="!ContractIndexViewModel.contracts">
    <h4>Data is unavailable or your javascript is not functioning.</h4>
    <p>Try checking your internet connection, and if JavaScript has been disabled on your browser.</p>
    <p>If you are running this app locally, make sure you are also running the associated Rails application.</p>
    <p>To do so using terminal, navigate to the milContracts directory, bundle install, run 'rake db:seed', then run 'rails s'.</p>
</div>
